@using MyBlogNew.Shared
@inject HttpClient Http
@if (tags != null)
{
    <ul class="nav flex-column">
        @foreach (var tag in tags)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href=@($"tag/{tag.Name.UrlEncode()}/")>
                    <span class="oi oi-tag" aria-hidden="true"></span> @tag.Name
                </NavLink>
            </li>
        }
    </ul>
}
@functions{
    List<TagModel> tags;
    protected override async Task OnInitAsync()
    {
        tags = await Http.GetJsonAsync<List<TagModel>>("Api/Tag/GetTags");
    }
}