@inject HttpClient Http

@if (Summaries == null)
{
    <p>Loading</p>
}
else
{

    @foreach (var summary in Summaries)
    {
        <ArticleSummary Summary="@summary"></ArticleSummary>
    }

}
@functions{
    [Parameter] List<ArticleSummaryModel> Summaries { get; set; }
}
