<hr />
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/about.jpg" /> Daemon Walker
                <a href="">GitHub</a>
                <p>忠实的软狗</p>
            </div>
            <div class="col-md-6">
                <h4>Share this Post</h4>
                <img src="/images/about.jpg" />
            </div>
        </div>
    </div>
</div>
<hr />
@functions{

}